:root {
    --primary-color: #2c3e50;
    --secondary-color: #c0392b;
    --tertiary-color: #f39c12;
    --font-color: #333;
}

body {
    color: var(--font-color);
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #478662;
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding: 20px;
}

.main-content {
    background-color: #F5F5DC;
    padding: 30px;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
}

/* .book-card {
    height: 300px;
    width: 230px;
    background-color: #F8F8E7;
    border: solid black 2px;
    border-radius: 6px;
    margin: 20px;
}

.book-card>div {
    background-color: #F8F8E7;
    border: solid black 3px;
    height: 40px;
    margin: 5px;
} */

.add-book-btn {
    background-color: #239e79;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    align-self: center;
}

.add-book-btn:hover {
    background-color: #1e8d7b;
}



footer {
    text-align: center;
    padding: 10px;
    justify-content: end;
    background-color: var(--primary-color);
    color: white;
}


form.add-book-form {

    border-radius: 10px;
    padding: 20px;

    background-color: #e1ebec;

    display: none;


}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add-book {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #000000b7;
    display: none;

}

.form-group {
    margin: 30px 15px;
}



/* Try starting from here: */


/* The container element for the book card */
.book-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    margin: 10px 20px;
    background-color: #caddd3;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

/* The book name */
.book-card .name {
    font-weight: bolder;
    margin-bottom: 5px;
}

/* The book author */
.book-card .author {
    margin-bottom: 5px;
}

/* The book pages */
.book-card .pages {
    margin-bottom: 10px;
}

/* The read-status button */
.book-card .read-status {
    font-family: "Ubuntu";
    /* font-size: larger; */
    font-weight: bolder;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}

/* The read-status button when the book is not read */
.book-card .read-status[status="not read"] {
    background-color: #f44336;
}

/* The remove button */
.book-card .remove {
    font-family: "Ubuntu";
    /* font-size: larger; */
    font-weight: bolder;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0px;
}

/* The read-status button when hovered */
.book-card .read-status:hover {
    background-color: #5bbe5b;
}

.book-card .read-status[status="not read"]:hover {
    background-color: #dd3e3e;
}

/* The remove button when hovered */
.book-card .remove:hover {
    background-color: #dd3e3e;
}